<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<title>联系我们</title>
		<script src="../js/vue.js"></script>
		<link rel="stylesheet" href="../css/main.css" />
		<script src="https://unpkg.com/axios/dist/axios.min.js"></script>
		<!-- 引入样式 -->
		<link rel="stylesheet" href="https://unpkg.com/element-ui/lib/theme-chalk/index.css">
		<!-- 引入组件库 -->
		<script src="https://unpkg.com/element-ui/lib/index.js"></script>
		<style type="text/css">
			.input {
				display: inline-block;
			}
			.contactItem{
				width: 400px;
				height: 60px;
			}
			
		</style>
	</head>
	<body>
		<div id="contact">
			<div class="fl" style="width:15%;">
				<p style="font-size: 20px;text-align: center;padding-top: 30px;padding-bottom: 30px;">菜单</p>
				<el-menu default-active="3" class="el-menu-vertical-demo">
					<el-menu-item index="1">
						<i class="el-icon-menu"></i>
						<span slot="title"><a href="index.html">主页</a></span>
					</el-menu-item>
					<el-menu-item index="2">
						<i class="el-icon-menu"></i>
						<span slot="title"><a href="product.html">产品</a></span>
					</el-menu-item>
					<el-menu-item index="3">
						<i class="el-icon-menu"></i>
						<span slot="title"><a href="contact.html">联系我们</a></span>
					</el-menu-item>
				</el-menu>
			</div>
			<div class="fl" style="padding-left: 60px;padding-top: 60px;padding-bottom: 60px;">
				<div>
					<div class="contactItem">
						<span>联系人：</span>
						<span>
							<el-input v-model="name" placeholder="请输入内容" style="width: 80%"></el-input>
						</span>
					</div>
					<div class="contactItem">
						电话：
						<span>
							<el-input v-model="phoneNumber" placeholder="请输入内容" style="width: 80%"></el-input>
						</span>
					</div>
					<div class="contactItem">
						地址：
						<span>
							<el-input v-model="address" placeholder="请输入内容" style="width: 80%"></el-input>
						</span>
						
					</div class="contactItem">
					<div class="contactItem">
						邮箱：
						<span>
							<el-input v-model="mail" placeholder="请输入内容" style="width: 80%"></el-input>
						</span>
					</div>
					<div class="contactItem">
						传真
						<span>
							<el-input v-model="fax" placeholder="请输入内容" style="width: 80%"></el-input>
						</span>
					</div>
					<div style="text-align: center;">
						<el-button type="primary" v-on:click="save()" >保存</el-button>
					</div>
					
				</div>
			</div>
			
			
			<!-- <el-button type="primary" v-on:click="cancel()">取消</el-button> -->
		</div>
		<script>
			var vm = new Vue({
				el: "#contact",
				data: {
					name: "",
					phoneNumber: "",
					address: "",
					mail: "",
					fax:""
				},
				mounted(){
					this.getContact();
				},
				methods:{
					getContact:function(){
						axios.post("/lezhi/contact/getContact", {
							
						}).then((response) => {
							
							if (response.data.code == -1) {
								
								window.location = "login.html";
								return;
							}
							
							if (response.data.data != null){
								var data = response.data.data;
								this.name = data.name;
								this.mail = data.mail;
								this.phoneNumber = data.phoneNumber;
								this.address = data.address;
								this.fax = data.fax;
							}
						
						}).catch((response) => {
							console.log("错误" + response)
						});
					},
					save:function(){
						axios.post("/lezhi/contact/updateContact", {
							name: this.name,
							phoneNumber: this.phoneNumber,
							address: this.address,
							mail: this.mail,
							fax:this.fax
						}).then((response) => {
							if (response.data.code == -1) {
								
								window.location = "login.html";
								return;
							}
							
							if (response.data.data != null){
								this.$message("更新成功");
							} else {
								this.$message("更新失败");
							}
						
						}).catch((response) => {
							this.$message("更新失败");
							console.log("错误" + response)
						});
					}
				}
				
			});
		</script>
	</body>
</html>
