<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="utf-8">
		<title>浙江乐志电子科技有限公司</title>
		<link rel="shortcut icon" href="img/zhele.ico" type="image/x-icon">
		<link rel="stylesheet" href="css/main.css">
		<script src="js/vue.js"></script>
		<script src="https://unpkg.com/axios/dist/axios.min.js"></script>
		<!-- Link Swiper's CSS -->
		<link rel="stylesheet" href="package/css/swiper.min.css">
		<script src="js/jquery.js"></script>
		<script src="js/jquery-migrate-1.2.1.js"></script>
		<script src="js/navfix.js"></script>
		<script type="text/javascript" language="javascript">
			$(document).ready(function(e) {
				$("#menu li").on('mouseover', function() {
					// $(this).css("border-bottom", "2px solid #5A5A5A");
					$(this).css("background-color", "#156cfd");
					$(this).find("a").attr("class", "ahover");
				}).mouseout(function() {
					// $(this).css("border-bottom", "2px solid rgb(0,0,0,0)");
					$(this).css("background-color", "white");
					$(this).find("a").attr("class", "hover");
				});
				$('#menu1').navfix(0, 999);
			});
		</script>
		<style>
			.bigPic {
				position: relative;

			}

			.swiper-container {
				width: 100%;
				height: 100%;
			}

			.swiper-slide {
				text-align: center;
				font-size: 18px;
				background: #fff;

				/* Center slide text vertically */
				display: -webkit-box;
				display: -ms-flexbox;
				display: -webkit-flex;
				display: flex;
				-webkit-box-pack: center;
				-ms-flex-pack: center;
				-webkit-justify-content: center;
				justify-content: center;
				-webkit-box-align: center;
				-ms-flex-align: center;
				-webkit-align-items: center;
				align-items: center;
			}

			.partner {
				position: relative;
				width: 1300px;
				margin: 0 auto;
			}

			.product {
				float: left;

				width: 358px;
				height: 250px;
				margin: 10px;
				border: 1px solid #dddddd;
				padding: 10px;
				
				
			}
			.product:hover {
				box-shadow: 0 15px 30px rgba(0,0,0,.1);
				transform: translate3d(0,-2px,0);
			}	
			
		</style>
	</head>
	<body>
		<div id="homepage">
			<!-- 菜单 -->
			<div id="menu1" style="margin:0 auto;width: 100%;background-color: white;position:relative; z-index:99; ">
				<div class="container">
					<div style="float: left;margin-top: 10px;margin-left: 30px;">
						<a href=""><img src="img/logo/logo2.jpg" width="200px" height="55px" />
						</a>
					</div>
					<div style="float: left;margin-left: 20px;margin-top:8px">
						<span style="line-height: 70px;font-size: 30px;color:black;font-family:微软雅黑;">浙江乐志电子有限公司</span>
					</div>
					<div id="menu" class="cssmenu" style="float:right">
						<ul>
							<li><a href="index.html" class="hover">主页</a></li>
							<li><a href="productList.html" class="hover">产品中心</a></li>
							<li><a href="about.html" class="hover">企业介绍</a></li>
							<li><a href="contact.html" class="hover">联系我们</a></li>
						</ul>
					</div>
				</div>
			</div>
			<!-- Swiper -->
			<div class="bigPic" id="bigPic">
				<div class="swiper-container" id="bigPicSwiper">
					<div class="swiper-wrapper">
						<div class="swiper-slide" v-for="item in fileList"><img :src="item.url" height="800px" width="100%" /></div>
					</div>
					<!-- Add Arrows -->
					<div class="swiper-button-next"></div>
					<div class="swiper-button-prev"></div>
				</div>
			</div>
			<div id="div1" class="title">
				<strong>产品中心</strong>
			</div>
			<div class="container worditem">
			</div>
			<div style="margin-top: 10px;  font-size:18px;font-family:微软雅黑;color:rgb(67, 67, 67);height: 30px;   text-align: center;">
				Product series
			</div>
			<div style="margin:5px auto;width: 1200px;font-size: 15px;text-align: center;">
				浙江乐志电子有限公司是一家拥有完整科学的质量管理体系 汽车线束、家电线束、医疗线束等产品的专业生产加工的公司
			</div>

			<div id="product" class="container" style="height:600px">
				<div class="product" v-for="product in productList">
					<a href="javascript:void(0)" @click="producDetail(product.id)">
						<img id="img1" :src="product.productPic" width="350px" height="250px" />
					</a>
				</div>
				
			</div>
			<div id="advantage" class="container">
				<div class="title">
					<strong>我们的优势</strong>
				</div>
				<div class="container worditem">
				</div>
				<div style="margin-top: 10px;  font-size:18px;font-family:微软雅黑;color:rgb(67, 67, 67);height: 30px;text-align: center;">
					Our Advantages
				</div>

				<div class="content">多年的行业经验</div>
				<div class="content" style="background-color: #769DFF;">产品质量过硬</div>
				<div class="content">良好的口碑</div>
				<div class="content" style="background-color: #769DFF;">专业的售后服务</div>
			</div>
			<!-- 合作伙伴-->
			<div id="div2" class="title" style="margin-top: 250px;">
				<strong>我们的客户</strong>
			</div>
			<div class="container worditem">
			</div>
			<div style="margin-top: 10px;  font-size:18px;font-family:微软雅黑;color:rgb(67, 67, 67);height: 30px;text-align: center;">
				Cooperative partner
			</div>
			<div class="partner" id="partner">
				<div class="swiper-container" id="partnerPicSwiper">
					<div class="swiper-wrapper">
						<div class="swiper-slide" v-for="item in fileList1"><img :src="item.url" height="80px" width="100px" /></div>
					</div>
					<!-- Add Arrows -->
					<div class="swiper-button-next"></div>
					<div class="swiper-button-prev"></div>
				</div>
			</div>
			<!-- 联系我们 -->
			<!-- <div id="contact" class="title">
				<strong>联系我们</strong>
			</div>
			<div style="margin:0 auto;width: 1200px;background-color: #cccccc;height: 2px;width: 70px;">
			</div>
			<div style="margin-top: 10px;  font-size:18px;font-family:微软雅黑;color:rgb(67, 67, 67);height: 30px;   text-align: center;">
				Contact Us
			</div> -->
			<div style="width: 100%;background-color: #1A1A1A;">
				<div id="contactPic" style="margin: 0 auto; width: 1200px;font-family: 微软雅黑;height: 60px;">
					<!-- <div class="pic"><img src="img/pic/phone.png" width="130px" height="130px"/></div>
					<div class="pic"><img src="img/pic/address.png" width="130px" height="130px"/></div>
					<div class="pic"><img src="img/pic/mail.png" width="130px" height="130px"/></div>
					<div class="pic"><img src="img/pic/fax.png" width="130px" height="130px"/></div> -->
					<div class="content">电话：{{name}} {{phoneNumber}}</div>
					<div class="content">地址：{{address}}</div>
					<div class="content">邮箱：{{mail}}</div>
					<div class="content">传真：{{fax}}</div>
				</div>
				<div style="margin: 0 auto;width: 1200px;font-size: 15px;text-align: center;color: #FFFFFF;line-height: 50px;">
					Copyright © 2019-2020,www.xxxxxx.com,All rights reserved 沪ICP备XXXXXX号
				</div>
			</div>
		</div>
		<!-- Swiper JS -->
		<script src="package/js/swiper.min.js"></script>

		<!-- Initialize Swiper -->
		<script>
			var vm = new Vue({
				el: "#homepage",
				data: {
					// 联系信息
					name: "",
					phoneNumber: "",
					address: "",
					mail: "",
					fax: "",
					fileList: [],
					fileList1: [],
					productList:[]
				},
				created() {
					this.getPicture(1);
					this.getPicture(2);
					this.initSwiper();

				},
				mounted() {
					this.getContact();
					this.getProducts();
				},
				methods: {
					producDetail(id){
						console.log(id);
						var url = "product_detail.html?id=" + id;
						window.open(url,"_blank");
					},
					getProducts(){
						axios.post("/lezhi/product/listProduct", {
							isHomePage: 1
						}, {
							headers: {
								'X-Custom-Header': 'lezhi'
							}
						}).then((response) => {
						
						
							if (response.data.data != null) {
						
								this.productList = response.data.data;
								console.log(this.productList);
							} else {
						
							}
						}).catch((response) => {
							console.log("错误" + response)
						});
					},
					initSwiper() {
						setTimeout(() => {
							var swiper = new Swiper('#bigPicSwiper', {
								autoplay: true,
								loop: true,
								observer: true,
								observeParents: true,
								navigation: {
									nextEl: '.swiper-button-next',
									prevEl: '.swiper-button-prev',
								},
							});
						}, 300);
						setTimeout(() => {
							var swiper = new Swiper('#partnerPicSwiper', {
								slidesPerView: 7,
								centeredSlides: true,
								autoplay: true,
								loop: true,
								observer: true,
								observeParents: true,
								navigation: {
									nextEl: '.swiper-button-next',
									prevEl: '.swiper-button-prev',
								},
							});
						}, 300);
					},

					getPicture(type) {
						axios.post("/lezhi/homepage/listPicture", {
							type: type
						}, {
							headers: {
								'X-Custom-Header': 'lezhi'
							}
						}).then((response) => {


							if (response.data.data != null) {

								var data = response.data.data;
								if (type == 1) {
									for (var i = 0; i < data.length; i++) {
										var pic = {};
										pic.url = data[i].url;
										pic.name = data[i].name;
										this.fileList.push(pic);
									}

								} else if (type == 2) {
									for (var i = 0; i < data.length; i++) {
										var pic = {};
										pic.url = data[i].url;
										pic.name = data[i].name;
										this.fileList1.push(pic);
									}
								}

							} else {

							}
						}).catch((response) => {
							console.log("错误" + response)
						});
					},
					getContact: function() {
						axios.post("/lezhi/contact/getContact", {

						}, {
							headers: {
								'X-Custom-Header': 'lezhi'
							}
						}).then((response) => {

							if (response.data.code == -1) {

								window.location = "login.html";
								return;
							}

							if (response.data.data != null) {
								var data = response.data.data;
								this.name = data.name;
								this.mail = data.mail;
								this.phoneNumber = data.phoneNumber;
								this.address = data.address;
								this.fax = data.fax;
							}

						}).catch((response) => {
							console.log("错误" + response)
						});
					},
				}
			});

			$(document).ready(function(e) {
				$("#menu li").on('mouseover', function() {
					// $(this).css("border-bottom", "2px solid #5A5A5A");
					$(this).css("background-color", "#156cfd");
					$(this).find("a").attr("class", "ahover");
				}).mouseout(function() {
					// $(this).css("border-bottom", "2px solid rgb(0,0,0,0)");
					$(this).css("background-color", "white");
					$(this).find("a").attr("class", "hover");
				});
			});
		</script>
	</body>
</html>
