<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<script src="js/vue.js"></script>
		<script src="js/jquery.js"></script>
		<script src="https://unpkg.com/axios/dist/axios.min.js"></script>
		<title>后台管理系统登陆页面</title>
		<link rel="stylesheet" href="css/main.css">
		<style type="text/css">
			input {
				border:0px;
				border-bottom:1px solid black;
				text-indent: 20px;
				background-repeat: no-repeat;
				height: 50px;
				line-height: 40px;
				font-size: 20px;
				width: 200px;
			}
			input:focus {
				outline: none;
			}
			button:focus{
				outline: none;
			}
		</style>
		<script type="text/javascript">
			
			function login(){
				
				window.location="index.html";
			}
		</script>
	</head>
	<body>
<!-- 		<div style="height: 120px;background-color: #4c60be;">
			<div style="height: 20px;width: 1200px;margin: 0px auto;padding:40px 0px;color: white;font-size: 20px;">后台管理系统</div>
		</div> -->
		<div id="loginDiv" style="width: 1200px;margin: 0 auto; text-align: center;font-size: 20px;">
			<div style="margin-top: 50px;">
				用户名：<input id="name" type="search" placeholder="请输入用户名" v-model="userName"/>
			</div>
			<div style="margin-top: 30px;">
				密码：<input id="password" type="search" placeholder="请输入密码" v-model="password"/>
			</div>
			<div style="margin-top: 50px;">
				<button style="border-radius: 10px;background-color: #516DFF;border: 0px;width: 200px;height: 50px;color: white;" v-on:click="login()">登陆</button>
			</div>
		</div>
		<script type="text/javascript">
			var app = new Vue({
				el: '#loginDiv',
				data: {
					todos: [
					      { text: '汽车线束' },
					      { text: '家电线束' },
					      { text: '医疗线束' }
					    ],
						page:2,
						total:20,
						pageSize:10,
						userName:"",
						password:""
				},
				methods: {
					login(){
						axios.post("/lezhi/user/login",
								{
						          username: this.userName,
						          password: this.password
						        }).then((response) => {
						        	if (response.data.data==null){
										console.log(response.data.msg);
									} else {
										window.location="index.html";
									}
						            
						        }).catch((response) => {
						          console.log("错误"+response);
						        });
					}
				}
			});
		</script>
	</body>
</html>
